<!--公共底部-->
<div class="footer_advantage">
    <ul class="footer_advantage_u">
        <li><i class="iconfont">&#x3449;</i><a class="a1" href="javascript:;">100%正品保证</a></li>
        <li><i class="iconfont">&#x3487;</i><a class="a2" href="javascript:;">满688免运费</a></li>
        <li><i class="iconfont">&#x3467;</i><a class="a3" href="javascript:;">7天无条件退货</a></li>
        <li><i class="iconfont">&#x3477;</i><a class="a4" href="javascript:;">超值折扣</a></li>
        <li><i class="iconfont">&#xf00f9;</i><a class="a5" href="javascript:;">9点限时闪购</a></li>
        <li class="footer_advantage_right"><i class="iconfont">&#xf012b;</i><a class="a6" href="javascript:;">400－664－6698</a></li>
    </ul>
    <p class="footer_link">
        <a href="javascript:;">关于魅力惠</a>
        <a href="javascript:;">加入我们</a>
        <a href="javascript:;">联系我们</a>
        <a href="javascript:;">使用帮助</a>
        <a href="javascript:;">使用规则</a>
        <a href="javascript:;">隐私声明</a>
        <a href="javascript:;">网站地图</a>
    </p>
    <p class="footer_copyright">
        <span>COPYRIGHT©2016  杭州魅俪信息技术有限公司版权所有</span>&nbsp;&nbsp;浙ICP备16004860号-1
    </p>
    <p class="footer_license">
        <span><a href="javascript:;"><img src="images/icon_badge.png" width="35" height="36"></a></span>
    </p>
</div>