<!--公共活动-->
<div class="huodong">
    <p class="img-top-zi">[活动即将开始]</p>
    <ul class="huo-u">
        <li class="huo-on"><a href="javascript:;">明天</a></li>
        <li><a href="javascript:;" class="week2">周四</a></li>
        <li><a href="javascript:;" class="week3">周五</a></li>
        <li><a href="javascript:;" class="week4">周六</a></li>
        <li><a href="javascript:;" class="last week5">周日</a></li>
    </ul>
    <div class="huo-box">
        <div class="huo-d" style="display:block;">
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo01.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo02.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo03.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo04.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo05.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo06.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo07.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo08.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo09.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo10.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo11.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo12.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="huo-d">
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo13.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo14.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo15.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo16.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo17.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo18.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo19.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo20.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo21.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="huo-d">
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo22.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo23.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo24.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo25.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo26.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo27.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="huo-d">
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo28.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo29.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo30.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo31.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo32.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo33.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo34.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo35.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo36.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="huo-d">
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo37.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo38.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo39.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo40.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo41.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
            <div class="huo-dd">
                <div class="huo-dd-di">
                    <div class="huo-dd-dil"><img src="images/huo42.jpg" /></div>
                    <div class="huo-dd-dir">
                        <p class="dir-t">SNURK 童趣满满的亲肤床品</p>
                        <p class="dir-b">5.8折起</p>
                    </div>
                </div>
                <div class="huo-dd-zhe"></div>
                <div class="huo-dd-zi">
                    <ul class="huo-dd-ziz">
                        <li><a href="javascript:;">预览</a></li>
                        <li><a href="javascript:;">订阅</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".huo-dd").hover(function() {
        $(this).find($(".huo-dd-zhe")).show();
        $(this).find($(".huo-dd-zi")).show();
    }, function() {
        $(this).find($(".huo-dd-zhe")).hide();
        $(this).find($(".huo-dd-zi")).hide();
    })
    $(".huo-u").on("click", "li", function() {
        $(this).addClass("huo-on").siblings().removeClass("huo-on");
        $(".huo-d").eq($(this).index()).show().siblings().hide();
    })
    var now = new Date();
    var week = now.getDay();
    if (week == 0) {
        $(".week2").html("周二");
        $(".week3").html("周三");
        $(".week4").html("周四");
        $(".week5").html("周五");
    }
    if (week == 1) {
        $(".week2").html("周三");
        $(".week3").html("周四");
        $(".week4").html("周五");
        $(".week5").html("周六");
    }
    if (week == 2) {
        $(".week2").html("周四");
        $(".week3").html("周五");
        $(".week4").html("周六");
        $(".week5").html("周日");
    }
    if (week == 3) {
        $(".week2").html("周五");
        $(".week3").html("周六");
        $(".week4").html("周日");
        $(".week5").html("周一");
    }
    if (week == 4) {
        $(".week2").html("周六");
        $(".week3").html("周日");
        $(".week4").html("周一");
        $(".week5").html("周二");
    }
    if (week == 5) {
        $(".week2").html("周日");
        $(".week3").html("周一");
        $(".week4").html("周二");
        $(".week5").html("周三");
    }
    if (week == 6) {
        $(".week2").html("周一");
        $(".week3").html("周二");
        $(".week4").html("周三");
        $(".week5").html("周四");
    }
</script>