<!--公共nav-->
<div class="nav">
    <div class="nav_c">
        <ul class="nav_left">
            <li><a href="/" class="nav-on">首页</a></li>
            <li><a href="/">女士</a>
                <div class="nav-mo">
                    <div class="nav-mol">
                        <p class="nav-molt">热门活动</p>
                        <ul class="nav-molb">
                            <li><a href="javascript:;">LOUIS VNITTON香水  开启优雅之旅</a></li>
                            <li><a href="javascript:;">专治选择困难症  爆款尖货专场</a></li>
                            <li><a href="javascript:;">SK-II ESTEE LAUDER等  超值组套专场</a></li>
                            <li><a href="javascript:;">清仓专场 护肤彩妆 2件8.5折 3件7.8折</a></li>
                            <li><a href="javascript:;">BEAUTY BOX 旅行必备小美盒</a></li>
                            <li><a href="javascript:;">夏日不怕晒 美白水嫩都不赖  防晒美白专场</a></li>
                            <li><a href="javascript:;">超速提升美肌力  仪器专场</a></li>
                            <li><a href="javascript:;">如沐春风  日系高端护肤彩妆专场</a></li>
                        </ul>
                    </div>
                    <div class="nav-mor">
                        <p class="nav-mort">商品分类</p>
                        <ul class="nav-morb">
                            <li><a href="javascript:;">护肤</a></li>
                            <li><a href="javascript:;">彩妆</a></li>
                            <li><a href="javascript:;">香氛</a></li>
                            <li><a href="javascript:;">美体</a></li>
                            <li><a href="javascript:;">男士</a></li>
                            <li><a href="javascript:;">保健</a></li>
                            <li><a href="javascript:;">面膜</a></li>
                            <li><a href="javascript:;">美容仪</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="/">男士</a>
                <div class="nav-mo">
                    <div class="nav-mol">
                        <p class="nav-molt">热门活动</p>
                        <ul class="nav-molb">
                            <li><a href="javascript:;">LOUIS VNITTON香水  开启优雅之旅</a></li>
                            <li><a href="javascript:;">专治选择困难症  爆款尖货专场</a></li>
                            <li><a href="javascript:;">SK-II ESTEE LAUDER等  超值组套专场</a></li>
                            <li><a href="javascript:;">清仓专场 护肤彩妆 2件8.5折 3件7.8折</a></li>
                            <li><a href="javascript:;">BEAUTY BOX 旅行必备小美盒</a></li>
                            <li><a href="javascript:;">夏日不怕晒 美白水嫩都不赖  防晒美白专场</a></li>
                            <li><a href="javascript:;">超速提升美肌力  仪器专场</a></li>
                            <li><a href="javascript:;">如沐春风  日系高端护肤彩妆专场</a></li>
                        </ul>
                    </div>
                    <div class="nav-mor">
                        <p class="nav-mort">商品分类</p>
                        <ul class="nav-morb">
                            <li><a href="javascript:;">护肤</a></li>
                            <li><a href="javascript:;">彩妆</a></li>
                            <li><a href="javascript:;">香氛</a></li>
                            <li><a href="javascript:;">美体</a></li>
                            <li><a href="javascript:;">男士</a></li>
                            <li><a href="javascript:;">保健</a></li>
                            <li><a href="javascript:;">面膜</a></li>
                            <li><a href="javascript:;">美容仪</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="/">美妆</a>
                <div class="nav-mo">
                    <div class="nav-mol">
                        <p class="nav-molt">热门活动</p>
                        <ul class="nav-molb">
                            <li><a href="javascript:;">LOUIS VNITTON香水  开启优雅之旅</a></li>
                            <li><a href="javascript:;">专治选择困难症  爆款尖货专场</a></li>
                            <li><a href="javascript:;">SK-II ESTEE LAUDER等  超值组套专场</a></li>
                            <li><a href="javascript:;">清仓专场 护肤彩妆 2件8.5折 3件7.8折</a></li>
                            <li><a href="javascript:;">BEAUTY BOX 旅行必备小美盒</a></li>
                            <li><a href="javascript:;">夏日不怕晒 美白水嫩都不赖  防晒美白专场</a></li>
                            <li><a href="javascript:;">超速提升美肌力  仪器专场</a></li>
                            <li><a href="javascript:;">如沐春风  日系高端护肤彩妆专场</a></li>
                        </ul>
                    </div>
                    <div class="nav-mor">
                        <p class="nav-mort">商品分类</p>
                        <ul class="nav-morb">
                            <li><a href="javascript:;">护肤</a></li>
                            <li><a href="javascript:;">彩妆</a></li>
                            <li><a href="javascript:;">香氛</a></li>
                            <li><a href="javascript:;">美体</a></li>
                            <li><a href="javascript:;">男士</a></li>
                            <li><a href="javascript:;">保健</a></li>
                            <li><a href="javascript:;">面膜</a></li>
                            <li><a href="javascript:;">美容仪</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="/">家居</a>
                <div class="nav-mo">
                    <div class="nav-mol">
                        <p class="nav-molt">热门活动</p>
                        <ul class="nav-molb">
                            <li><a href="javascript:;">LOUIS VNITTON香水  开启优雅之旅</a></li>
                            <li><a href="javascript:;">专治选择困难症  爆款尖货专场</a></li>
                            <li><a href="javascript:;">SK-II ESTEE LAUDER等  超值组套专场</a></li>
                            <li><a href="javascript:;">清仓专场 护肤彩妆 2件8.5折 3件7.8折</a></li>
                            <li><a href="javascript:;">BEAUTY BOX 旅行必备小美盒</a></li>
                            <li><a href="javascript:;">夏日不怕晒 美白水嫩都不赖  防晒美白专场</a></li>
                            <li><a href="javascript:;">超速提升美肌力  仪器专场</a></li>
                            <li><a href="javascript:;">如沐春风  日系高端护肤彩妆专场</a></li>
                        </ul>
                    </div>
                    <div class="nav-mor">
                        <p class="nav-mort">商品分类</p>
                        <ul class="nav-morb">
                            <li><a href="javascript:;">护肤</a></li>
                            <li><a href="javascript:;">彩妆</a></li>
                            <li><a href="javascript:;">香氛</a></li>
                            <li><a href="javascript:;">美体</a></li>
                            <li><a href="javascript:;">男士</a></li>
                            <li><a href="javascript:;">保健</a></li>
                            <li><a href="javascript:;">面膜</a></li>
                            <li><a href="javascript:;">美容仪</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="/">婴童</a>
                <div class="nav-mo">
                    <div class="nav-mol">
                        <p class="nav-molt">热门活动</p>
                        <ul class="nav-molb">
                            <li><a href="javascript:;">LOUIS VNITTON香水  开启优雅之旅</a></li>
                            <li><a href="javascript:;">专治选择困难症  爆款尖货专场</a></li>
                            <li><a href="javascript:;">SK-II ESTEE LAUDER等  超值组套专场</a></li>
                            <li><a href="javascript:;">清仓专场 护肤彩妆 2件8.5折 3件7.8折</a></li>
                            <li><a href="javascript:;">BEAUTY BOX 旅行必备小美盒</a></li>
                            <li><a href="javascript:;">夏日不怕晒 美白水嫩都不赖  防晒美白专场</a></li>
                            <li><a href="javascript:;">超速提升美肌力  仪器专场</a></li>
                            <li><a href="javascript:;">如沐春风  日系高端护肤彩妆专场</a></li>
                        </ul>
                    </div>
                    <div class="nav-mor">
                        <p class="nav-mort">商品分类</p>
                        <ul class="nav-morb">
                            <li><a href="javascript:;">护肤</a></li>
                            <li><a href="javascript:;">彩妆</a></li>
                            <li><a href="javascript:;">香氛</a></li>
                            <li><a href="javascript:;">美体</a></li>
                            <li><a href="javascript:;">男士</a></li>
                            <li><a href="javascript:;">保健</a></li>
                            <li><a href="javascript:;">面膜</a></li>
                            <li><a href="javascript:;">美容仪</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="/">海外</a>
                <div class="nav-mo">
                    <div class="nav-mol">
                        <p class="nav-molt">热门活动</p>
                        <ul class="nav-molb">
                            <li><a href="javascript:;">LOUIS VNITTON香水  开启优雅之旅</a></li>
                            <li><a href="javascript:;">专治选择困难症  爆款尖货专场</a></li>
                            <li><a href="javascript:;">SK-II ESTEE LAUDER等  超值组套专场</a></li>
                            <li><a href="javascript:;">清仓专场 护肤彩妆 2件8.5折 3件7.8折</a></li>
                            <li><a href="javascript:;">BEAUTY BOX 旅行必备小美盒</a></li>
                            <li><a href="javascript:;">夏日不怕晒 美白水嫩都不赖  防晒美白专场</a></li>
                            <li><a href="javascript:;">超速提升美肌力  仪器专场</a></li>
                            <li><a href="javascript:;">如沐春风  日系高端护肤彩妆专场</a></li>
                        </ul>
                    </div>
                    <div class="nav-mor">
                        <p class="nav-mort">商品分类</p>
                        <ul class="nav-morb">
                            <li><a href="javascript:;">护肤</a></li>
                            <li><a href="javascript:;">彩妆</a></li>
                            <li><a href="javascript:;">香氛</a></li>
                            <li><a href="javascript:;">美体</a></li>
                            <li><a href="javascript:;">男士</a></li>
                            <li><a href="javascript:;">保健</a></li>
                            <li><a href="javascript:;">面膜</a></li>
                            <li><a href="javascript:;">美容仪</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="/">即将推出</a></li>
        </ul>
        <ul class="nav_right">
            <li><a href="/shopcar" class="nav-rs">0</a></li>|
            <li><a href="/shopcar" class="nav-rp">0.00</a></li>
            <div class="nav-car">
                <p class="nav-cp">购物袋暂无商品</p>
                <!--<div class="nav-cd">
            <div class="nav-cdt">
              <img src="images/shop01.jpg"  />
              <div class="nav-cdtr">
                <p class="nav-cdtrn">粉色恋恋初心音乐水晶球</p>
                <p class="nav-cdtry">粉色</p>
                <span class="nav-cdtrnum">1</span>×
                <span class="nav-cdtrnum">520</span>
                <a class="nav-cshan">删除</a>
              </div>
            </div>
            <p class="nav-cdc">购物袋小计：￥<span class="nav-carsum">520</span></p>
            <div class="nav-cdd">
              <input type="button" value="结算" class="nav-carjie" />	
            </div>
          </div>-->
            </div>
        </ul>
    </div>
</div>
<script>
    $(window).scroll(function() {
        var sTop = $(document).scrollTop();

        if (sTop < 120) {

            $(".nav").css("position", "");
        } else {
            $(".nav").css({
                "position": "fixed",
                "top": 0,
                "z-index": 999
            });
        }
    })
    $(".nav_left").on("mousemove", "li", function() {
        $(this).find($(".nav-mo")).show()
    })
    $(".nav_left").on("mouseout", "li", function() {
        $(this).find($(".nav-mo")).hide()
    })
    $(".nav_right").hover(function() {
        $(".nav-car").show();
    }, function() {
        $(".nav-car").hide();
    })
    $(".nav-car").hover(function() {
        $(".nav-car").show();
    }, function() {
        $(".nav-car").hide();
    })
    var _arr = localStorage.getItem('shoplist') ? JSON.parse(localStorage.getItem('shoplist')) : [];
    if (_arr.length == 0) {
        $(".nav-car").html(`<p class="nav-cp">购物袋暂无商品</p>`);
    } else {

        var st = `<div class="nav-cd">`;
        var sum = "";
        var count = "";
        for (var i = 0; i < _arr.length; i++) {
            st += `<div class="nav-cdt">
    				<img src="images/${_arr[i].src}"  />
    				<div class="nav-cdtr">
    					<p class="nav-cdtrn">${_arr[i].name}</p>
    					<p class="nav-cdtry">${_arr[i].color}</p>
    					<span class="nav-cdtrnum">${_arr[i].count}</span>×
    					<span class="nav-cdtrpri">${_arr[i].price}</span>
    					<span data-id=${_arr[i].id}  data-name=${_arr[i].name} data-src=${_arr[i].src} data-color=${_arr[i].color} data-price=${_arr[i].price}   style="display:none" class="nav-s"></span>
    					<a class="nav-cshan">删除</a>
    				</div>
    			</div>`;
            count = Number(count) + Number(_arr[i].count);
            sum = Number(sum + _arr[i].count * _arr[i].price);
        }
        st += `<p class="nav-cdc">购物袋小计：￥<span class="nav-carsum">${sum}</span></p>
    			<div class="nav-cdd">
    				<input type="button" value="结算" class="nav-carjie" />	
    			</div>
    		</div>`;

        $(".nav-car").html(st);
        $(".nav-rs").html(count);
        $(".nav-rp").html(sum);
    }
    //
    $(".nav-carjie").click(function() {
        var crr = [];
        $(".nav-cdt").each(function() {
            var bjson = {
                id: $(this).parent().parent().find(".nav-s").eq($(this).index()).data("id"),
                name: $(this).parent().parent().find(".nav-s").eq($(this).index()).data("name"),
                src: $(this).parent().parent().find(".nav-s").eq($(this).index()).data("src"),
                price: $(this).parent().parent().find(".nav-s").eq($(this).index()).data("price"),
                color: $(this).parent().parent().find(".nav-s").eq($(this).index()).data("color"),
                count: $(this).parent().parent().find(".nav-cdtrnum").eq($(this).index()).html()
            }
            crr.push(bjson);
        })
        localStorage.setItem("shopli", JSON.stringify(crr));
        location.href = "/pay";
    })
    $(".nav-cshan").click(function() {

        var c = confirm("确定要删除吗？")
        if (c) {
            $(this).parent().parent().remove();
            var id = $(this).prev().data("id");
            $(".nav-rs").html(count);
            $(".nav-rp").html(sum);
            for (var i in _arr) {
                if (id == _arr[i].id) {
                    _arr.splice(i, 1);
                    if (_arr.length == 0) {
                        $(".nav-car").html(`<p class="nav-cp">购物袋暂无商品</p>`);
                        $(".nav-rs").html(0);
                        $(".nav-rp").html(0);
                    }
                    localStorage.setItem("shoplist", JSON.stringify(_arr));
                }
            }

        }
    })
</script>