<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="iconfont/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="css/shouye.css" />
    <script src="js/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/public.css" />
    <link rel="stylesheet" type="text/css" href="css/shopcar.css" />
</head>

<body>
    <% include ./header.ejs %>
        <% include ./nav.ejs %>
            <div class="car">
                <div class="car-top">
                    <p class="car-topl">购物袋</p>
                    <p class="car-topr">商品库存有限，建议尽快提交订单，闪购到心仪的商品；促销优惠将按比例分摊至商品中</p>
                </div>
                <div class="car-cen">
                    <p class="car-cc">再购<span class="car-ccs">688</span>元立享满688元免运费 <a href="/list" style="text-decoration: underline;">去凑单&gt;</a></p>
                </div>
                <div class="car-bottom">
                    <ul class="car-bt">
                        <li class="car-on">在售</li>
                        <li>心愿单</li>
                        <li>已失效</li>
                    </ul>
                    <div class="car-box">
                        <div class="car-bb" style="display: block;">
                            <p class="car-bbp">您还没有可购买的商品，赶快将心仪的商品加入购物袋吧~</p>
                            <!--<div class="car-bbt">
							<p>
								<input type="checkbox" name="qx"  />&ensp;&ensp;全选
							</p>
							<p style="width: 200px;">商品信息</p>
							<p>单价</p>
							<p>数量</p>
							<p>优惠</p>
							<p>小计</p>
							<p>操作</p>
						</div>
						<div  class="car-bbtb">
							<input type="checkbox" name="pp"  />&ensp;&ensp;品牌直发
						</div>
						<div class="car-bbc">
							<p class="car-bbc1">
								<input type="checkbox" name="x"  />&ensp;&ensp;
								<img src="images/shop01.jpg" style="width: 75px; height: 100px; border: 1px gray solid;" />
							</p>
							<p style="width: 200px;">商品信息</p>
							<p>￥<span class="car-pr">399</span></p>
							<p class="car-num">
								<input type="button" value="-" class="car-jian"/>
								<input type="text" value="1" class="car-number"/>
								<input type="button" value="+" class="car-jia"/>
							</p>
							<p>￥<span class="car-you">0.00</span></p>
							<p>￥<span class="car-pr">399</span></p>
							<p><input type="button" value="删除" /></p>
						</div>
						<div class="car-bbcb">
							<p class="car-bbcbl">
								<input type="checkbox" name="qx"  />&ensp;&ensp;全选
								已选<span class="car-bbnum">0</span>件
								<input type="button" value="删除" class="car-bbshan" />
							</p>
							<p class="car-bbcbr">
								总价：（不含运费）：<span class="car-bbnum">￥<span class="car-price">0.00</span></span>
								<input type="button" value="结算" class="car-bbjie" />
							</p>
						</div>-->
                        </div>
                        <div class="car-bb">
                            <p class="car-bbp">即将上新的商品可以加入心愿单啦！抢购快人一步，赶快行动吧~</p>
                        </div>
                        <div class="car-bb">
                            <p class="car-bbp">活动结束的商品会显示在此</p>
                        </div>
                    </div>
                </div>
            </div>
            <% include ./footer.ejs %>

</body>

</html>
<script src="js/cookie.js"></script>
<script src="js/shouye.js"></script>
<script src="js/shopcar.js"></script>