<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/sign.css">
    <link rel="stylesheet" type="text/css" href="iconfont/iconfont.css" />
</head>

<body>
    <div class="logn-wrap">
        <div class="login-container">
            <div class="login-logo">
                <a href="/"><img src="images/logo.jpg" /></a>
                <span class="loginlo">全球奢品&nbsp;&nbsp;正品保证</span>
            </div>
            <div class="login-content">
                <div class="login-main">
                    <div class="hydl-regsiter">
                        <span class="hydl-l">免费注册</span>
                        <span class="hydl-r">已注册？<a href="/login">登陆</a></span>
                    </div>
                    <div class="newPeople">
                        新客专享 1000元现金券礼包
                    </div>

                    <div class="hydl-login">
                        <p>账户名：<input type="text" id="uname" style="height: 30px;width: 250px;" placeholder="手机号/邮箱" name="username" /><br/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<span id="login-s1"></span></p>
                        <p style="top:50px">密码：<input type="password" id="upwd" style="height: 30px;width: 250px;" placeholder="请输入6-20个字符" name="password" /><br/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<span id="login-s2"></span></p>
                        <p style="top:100px">确认密码：<input type="password" id="qpwd" style="height: 30px;width: 250px;" /><br/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<span id="login-s3"></span></p>
                        <p style="top:150px; height: 49px; width: 306px;">验证码：<input type="text" id="sign-yan" style="height: 30px;width: 120px;" /><span id="sign-yan1" style="height: 30px;width: 120px; margin-left: 10px;"></span><br/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<span id="login-s4"></span></p>
                        <p style="top:200px">短信验证码：<input type="text" id="sign-yan2" style="height: 30px;width: 120px;" /><input type="button" id="yan-btn" value="获取验证码" style="height: 30px;width: 120px; margin-left: 10px;" /><br/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <span id="login-s5"></span>
                        </p>
                        <p style="top:250px"><input type="submit" id="sign-btn" value="立即注册" style="height: 30px;width: 250px;" /></p>
                        <p style="top:300px">
                            <span>点击立即注册即表示同意魅力惠<a href="javascript:;">使用条款</a></span><br>
                            <span><input type="checkbox" checked/>您将收到魅力惠每日最新上新邮件</span>
                        </p>
                    </div>

                    <div class="login-er">
                        <img src="images/sign-erweima.jpg" class="login-erl" />
                        <div class="login-err">
                            <p>扫描二维码或发送短信</p>
                            <p>"MLH"到"12114"</p>
                            <p>下载APP尊享独家优惠</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_advantage">
                <ul class="footer_advantage_u">
                    <li><i class="iconfont">&#x3449;</i><a class="a1" href="javascript:;">100%正品保证</a></li>
                    <li><i class="iconfont">&#x3487;</i><a class="a2" href="javascript:;">满688免运费</a></li>
                    <li><i class="iconfont">&#x3467;</i><a class="a3" href="javascript:;">7天无条件退货</a></li>
                    <li><i class="iconfont">&#x3477;</i><a class="a4" href="javascript:;">超值折扣</a></li>
                    <li><i class="iconfont">&#xf00f9;</i><a class="a5" href="javascript:;">9点限时闪购</a></li>
                    <li class="footer_advantage_right"><i class="iconfont">&#xf012b;</i><a class="a6" href="javascript:;">400－664－6698</a></li>
                </ul>

                <p class="footer_copyright">
                    <span>COPYRIGHT©2016  杭州魅俪信息技术有限公司版权所有</span>&nbsp;&nbsp;浙ICP备16004860号-1
                </p>

            </div>
        </div>
    </div>
</body>

</html>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/sign.js"></script>
<script src="js/cookie.js"></script>
<script src="js/ajax1.js"></script>