.shop {
  width: 1040px;
  margin: 0 auto;
  overflow: hidden;
}
.shop .shop-top {
  margin: 10px 0;
}
.shop-main {
  overflow: hidden;
  border-bottom: 1px black solid;
}
.shop-main .shop-ml {
  float: left;
  position: relative;
}
.shop-main .shop-ml .shop-tul {
  width: 480px;
  height: 640px;
  overflow: hidden;
}
.shop-main .shop-ml .shop-tul img {
  display: none;
}
.shop-main .shop-ml .shop-mlb {
  width: 480px;
  position: absolute;
  top: 640px;
}
.shop-main .shop-ml .shop-mlb li {
  float: left;
  margin: 10px;
}
.shop-main .shop-ml .shop-mlb li img {
  width: 75px;
  height: 100px;
}
.shop-main .shop-ml .shop-l {
  border: none;
  width: 40px;
  height: 60px;
  background: none;
  font-size: 40px;
  position: absolute;
  left: 0;
  top: 290px;
}
.shop-main .shop-ml .shop-r {
  border: none;
  width: 40px;
  height: 60px;
  background: none;
  font-size: 40px;
  position: absolute;
  right: 0;
  top: 290px;
}
.shop-main .shop-mr {
  width: 500px;
  float: left;
  margin-left: 50px;
}
.shop-main .shop-mr .shop-pr {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.shop-main .shop-mr .shop-pr .shop-price {
  color: red;
  font-size: 30px;
}
.shop-main .shop-mr .shop-pr .shop-yuan {
  color: gray;
  font-size: 20px;
}
.shop-main .shop-mr .shop-pr .shop-zhe {
  font-size: 24px;
  font-weight: bold;
}
.shop-main .shop-mr .shop-man {
  height: 40px;
  background: #eee;
}
.shop-main .shop-mr .shop-man p {
  line-height: 40px;
  margin-left: 40px;
}
.shop-main .shop-mr .shop-xuan {
  margin: 20px 0;
}
.shop-main .shop-mr .shop-xuan img {
  border: 1px gray solid;
  margin: 10px 0;
}
.shop-main .shop-mr .shop-xuan .shop-num {
  margin: 20px 0;
}
.shop-main .shop-mr .shop-xuan input {
  width: 30px;
  height: 30px;
  text-align: center;
}
.shop-main .shop-mr .shop-fa {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.shop-main .shop-mr .shop-fa span {
  color: red;
  font-size: 20px;
}
.shop-main .shop-mr .shop-btn {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}
.shop-main .shop-mr .shop-btn .shop-gou {
  width: 240px;
  height: 40px;
  background: black;
  color: white;
  border: none;
  font-size: 20px;
}
.shop-main .shop-mr .shop-btn .shop-mai {
  width: 240px;
  height: 40px;
  background: red;
  color: white;
  border: none;
  font-size: 20px;
}
.shop-main .shop-mr .shop-dao {
  width: 500px;
  overflow: hidden;
}
.shop-main .shop-mr .shop-dl {
  float: left;
}
.shop-main .shop-mr .shop-dl span {
  color: gray;
}
.shop-main .shop-mr .shop-dr {
  margin-left: 20px;
  float: left;
  font-size: 30px;
}
.shop-main .shop-mr .shop-dr span {
  font-size: 14px;
}
.shop-main .shop-mr .shop-zheng {
  margin: 100px 0;
}
.shop-xiang {
  width: 1000px;
  margin: 0 auto;
}
.shop-xiang img {
  display: block;
  margin: 50px auto;
}
